[Unit]
Description="Discord testnet faucet bot"

[Service]
User={USER}
Environment="PATH=/usr/local/go/bin:{USER_HOME}/go/bin:$PATH"
WorkingDirectory={USER_HOME}/cosmos-discord-faucet
ExecStart={USER_HOME}/cosmos-discord-faucet/.env/bin/python cosmos_discord_faucet.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
